@import "src/scss/sizes";

.social {
  @include for-md-up {
    grid-column: 16 / 25;
  }

  &__content {
    height: min-content;
    padding: 20px 30px;
    background: rgba(31, 13, 93, 0.8);
    border-radius: var(--border-radius-huge);

    @include for-fl-down {
      padding: 20px 10px;
    }

    @include for-hg-down {
      padding: 10px 0;
    }
  }

  &__tabs-wrapper {
    display: flex;
    margin-top: -6px;
    margin-bottom: 32px;

    @include for-hg-down {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  &__tab-wrapper {
    & + & {
      margin-left: 30px;
    }
  }

  &__tab {
    display: none;

    &:checked {
      + .social__tab-content {
        border-bottom-color: var(--purple-color);
      }
    }
  }

  &__tab-content {
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    padding: 6px 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-bottom-color var(--transition-duration-short);

    &:hover {
      border-bottom-color: var(--purple-color);
    }
  }

  &__posts-list {
    &:not(.mod-show) {
      display: none;
    }
  }

  &__post-item {
    width: 100%;

    &--youtube {
      iframe {
        width: 100%;
        height: 216px;
      }
    }

    & + & {
      margin-top: var(--main-grid-gap);
    }
  }
}
