$selected-padding: 6px;

.lang-select {
  margin: -$selected-padding;
  width: min-content;

  .ss-main {
    position: relative;
    display: inline-block;
    user-select: none;
    width: 100%;
    transition: all var(--transition-duration-short);
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--white-color);

    .ss-single-selected {
      display: flex;
      cursor: pointer;
      padding: $selected-padding;
      border-radius: var(--border-radius-small);
      background-color: transparent;
      transition: background-color .2s;

      &.ss-disabled {
        background-color: var(--gray-light-color);
        cursor: not-allowed;
      }

      .placeholder {
        display: flex;
        flex: 1 1 100%;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        user-select: none;

        .ss-disabled {
          color: var(--gray-light-color);
        }
      }

      .ss-arrow {
        margin: 0 6px 0 6px;
        display: flex;
        align-items: center;

        .arrow-up, .arrow-down {
          display: block;
          width: 10px;
          height: 10px;
          background-image: url("../img/arrow-wite.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: transform var(--transition-duration-short);
        }

        .arrow-up {
          transform: rotate(180deg);
        }

        .arrow-down {
          transform: rotate(0);
        }
      }
    }

    .ss-deselect {
      display: none;
    }
  }

  .ss-content {
    position: absolute;
    width: 100%;
    margin: 10px 0 0 0;
    background-color: var(--white-color);
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.08), 0 4px 16px rgba(255, 255, 255, 0.08);
    border-radius: var(--border-radius-small);
    z-index: 1;
    transform-origin: center top;
    transition: transform .2s, opacity .2s;
    opacity: 0;
    transform: scaleY(0);

    &.ss-open {
      display: block;
      opacity: 1;
      transform: scaleY(1);
    }

    .ss-search {
      display: none;
    }

    .ss-list {
      text-align: center;
      margin: 6px 0;

      .ss-option {
        color: var(--layout-color);
        padding: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        cursor: pointer;
        user-select: none;
        transition: all var(--transition-duration-short);

        * {
          display: inline-block;
        }

        &:hover, &.ss-highlighted {
          color: var(--purple-color);
          background-color: var(--gray-color-opasity);
        }

        &.ss-disabled {
          cursor: initial;
          color: var(--gray-light-color);
        }

        &.ss-hide {
          display: none;
        }
      }
    }
  }
}
