@import "src/scss/sizes";

.main-info {
  @include for-md-up {
    grid-column: 1 / 18;
    grid-row: 3 / 8;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--gray-color-opasity);
  }

  &__statistic-link-wrapper {
    display: flex;
    align-items: center;
  }

  &__header-link {
    padding: 4px 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: var(--border-radius-tiny);
    background-color: var(--blue-dark-color);

    & + & {
      margin-left: 10px;
    }

    &--purple {
      background-color: var(--purple-color);
    }
  }

  &__statistic-link-img {
    height: 20px;
    margin-right: 8px;
  }

  &__header-links-conteiner {
    display: flex;
  }

  &__content {
    padding-top: 24px;

    h2 {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
    }

    .iframe-container {
      display: flex;
      justify-content: center;
      margin: 32px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .iframe-wrapper {
      background: var(--blue-middle-color);
      border-radius: var(--border-radius-tiny);
      padding: 8px;
    }

    iframe {
      width: 626px;
      height: 356px;

      @include for-md-down {
        width: calc(#{$small} - (16px + var(--page-content-padding)) * 2);
        height: calc((#{$small} - (16px + var(--page-content-padding)) * 2) * 356 / 626);
      }

      @include for-sm-down {
        width: calc(#{$mobile} - (16px + var(--page-content-padding)) * 2);
        height: calc((#{$mobile} - (16px + var(--page-content-padding)) * 2) * 356 / 626);
      }

      @include for-mb-down {
        width: calc(#{$xs} - (16px + var(--page-content-padding)) * 2);
        height: calc((#{$xs} - (16px + var(--page-content-padding)) * 2) * 356 / 626);
      }

      @include for-xs-down {
        width: calc(#{$xxs} - (16px + var(--page-content-padding)) * 2);
        height: calc((#{$xxs} - (16px + var(--page-content-padding)) * 2) * 356 / 626);
      }
    }

    p, li {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: var(--gray-light-color);
    }

    h2, p, ol {
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    b {
      font-weight: 500;
    }

    ol {
      li {
        padding-left: 20px;
        position: relative;

        &:before {
          position: absolute;
          content: '';
          top: 8px;
          left: 0;
          width: 4px;
          height: 4px;
          background-color: var(--gray-light-color);
          border-radius: 100%;
        }
      }
    }
  }
}
