//- Все примеси в этом файле должны начинаться c имени блока (main-info)

mixin main-info()

  .main-info.gl-block
    .main-info__header
      a(src="").main-info__statistic-link-wrapper
        img(src="img/chart.svg", alt="chart").main-info__statistic-link-img
        .main-info__header-link.main-info__header-link--purple view game stats
      .main-info__header-links-conteiner
        a(src="").main-info__header-link pitch
        a(src="").main-info__header-link Write paper

    .main-info__content
      h2 How to Play Thetan Arena and Earn Money: Ultimate Beginner’s Guide
      p Are you looking to earn some easy money while playing fun games? In this guide, we will tell you everything you need to make money with Thetan Arena. Thetan Arena is a cross-platform blockchain e-sport game that brings together the concepts of MOBA and Battle Royale. Either you can play alone or team up with your friends to compete with others and earn crypto rewards with your skills and teamwork. Apart from its engaging gameplay, it is also a free-to-play play-to-earn game, and you can start earning with zero investment!
      p There are several Heroes in Thetan Arena belonging to different categories. Every Hero has a particular skill called fury and a unique stat according to their role on the battlefield. Earning more in-game tokens (THC and THG) will directly depend on choosing a suitable Hero for every position. When you join Thetan Arena for the first time, you will receive a free Hero, Level 1 Raidon. Free Heroes can not be sold on the marketplace, but you can still increase its level and earn THC tokens.

      .iframe-container
        .iframe-wrapper
          iframe(
            src="https://www.youtube.com/embed/ijE4ELV2xvQ",
            title="YouTube video player",
            frameborder="0",
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",
            allowfullscreen)

      p You can also check out our article: Is Thetan Arena The New Axie Infinity?
      h2 What are The Hero Stats?
      p All Heros have two different Level attributes, the Hero Level and the in-game Hero Level. Hero Level represents the base attributes of a Hero. When on the battlefield, players can increase their in-game hero level from 1 to 10, but it resets every match. Apart from the Hero Categories, Heroes also have a rarity determined by two elements, the base rarity, and the skin rarity. With the rarer Hero, you get a better playstyle, abilities, and bonuses in battle rewards.
      p
        b Heroes fall under three rarity levels:
      ol
        li Common
        li Epic
        li Legendary Hero
        li You get better-looking Heroes with extra visual effects and bonus battle rewards with increasing skin rarity.
      p
        b For each Hero, there are three different skins:
      ol
        li Default Skin
        li Rare Skin
        li Mythical Skin

      p You can also increase the power of any Hero’s custom skill by increasing its trophy class. Trophy class depends on your mastery of the Hero (the number of times you have played it on the battlefield). Trophy classes have corresponding
