@import "src/scss/sizes";

.marketplace {
  @include for-md-up {
    grid-column: 1 / 25;
  }

  &__content {
    position: relative;

    @include for-mx-down {
      width: calc(100vw - (var(--page-content-padding) + var(--block-padding-side)) * 2);
    }
  }

  &__header {
    margin-bottom: 28px;
  }

  &__swiper-container {
    overflow-x: hidden;
  }

  &__swiper-slide {
    overflow: hidden;
    border-radius: var(--border-radius-middle);
    background-color: var(--purple-background);
  }

  &__slide-link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__slide-image {
    width: 100%;
    height: 340px;
    object-fit: cover;
  }

  &__slide-info-wrapper {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slide-name {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: var(--purple-color);
    margin-bottom: 4px;
  }

  &__slide-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
}
