//- Все примеси в этом файле должны начинаться c имени блока (learn)

mixin learn()

  .learn.gl-block
    .learn__content-wrapper
      .learn__content-info
        h2.gl-title.gl-title--small Learn and Earn
        .gl-subtitle Complete the training and get the status of a scholar
      img(src="img/learn.svg").learn__content-icon

    .learn__btns-wrapper
      button(type="button").learn__btn.gl-btn.gl-btn--small LEARN TO PLAY
      button(type="button", disabled).learn__btn.gl-btn.gl-btn--small SCHOLAR APPLICATION
