//- Все примеси в этом файле должны начинаться c имени блока (footer)

mixin footer()
  - const linksArr = [{text: "whitepaper", href: ""}, {text: "Meta rent", href: ""}, {text: "scoolarship", href: ""}, {text: "mogg token", href: ""}, {text: "team", href: ""}];
  - const socialLinksArr = [{modClass: "twitter", href: ""}, {modClass: "telegram", href: ""}, {modClass: "discord", href: ""}, {modClass: "youtube", href: ""}, {modClass: "medium", href: ""}];

  footer.footer
    .gl-page-content
      .footer__content
        .footer__links-container
          each linkItem in linksArr
            a(href=linkItem.href).footer__link= linkItem.text

        a(href="/").footer__logo-link
          img(src="img/logo-footer.png", alt="logo-footer").footer__logo

        .footer__right-block
          .footer__social-container
            each socialLinkItem in socialLinksArr
              a(href=socialLinkItem.href, class=`footer__social-link--${socialLinkItem.modClass}`).footer__social-link

          .gl-fl-hide
            +lang-select()

          .footer__btns-wrapper
            button(type="button").footer__btn Log in
            button(type="button").footer__btn Sign up


