extends ../pug/layout.pug

block meta
  title Page Title
  meta(name='description', content='')

block content
  +bread-crumbs()
  .gl-page-content
    .gl-grid-container-24
      +main-slider()
      +play-now()
      +reviews()
      +main-info()
      .gl-grid-column-quarter-end
        +basic-info()
        +details()
        +learn()
        +more-articles()
      +marketplace()
      +reviews-list()

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
