@import "src/scss/sizes";

.bread-crumbs {
  margin: 44px 0;

  @include for-hg-down {
    margin: 34px 0;
  }

  @include for-md-down {
    margin: 26px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -6px -10px;
  }

  &__item {
    display: block;
    padding: 6px 20px 6px 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
    transition: color var(--transition-duration-short);
    color: var(--gray-color-opasity);

    &--link {
      &:hover {
        color: var(--purple-color);

        &:before {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:before, &:after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        width: 10px;
        height: 6px;
        transform: translateY(-50%) rotate(-90deg);
        transition: opacity var(--transition-duration-short);
      }

      &:before {
        background-image: url("/img/arrow-wite.svg");
        opacity: 1;
      }

      &:after {
        background-image: url("/img/arrow-purple.svg");
        opacity: 0;
      }
    }
  }
}
