//- Все примеси в этом файле должны начинаться c имени блока (bread-crumbs)

mixin bread-crumbs()
  - const itemsArr = [{text: "Meta DAO", href: "#"}, {text: "discover games", href: "#"}, {text: "games", href: "#"}, {text: "thetan arena"}];

  .bread-crumbs
    .gl-page-content
      ul.bread-crumbs__container
        each item in itemsArr
          li
            if item.href
              a(href=item.href).bread-crumbs__item.bread-crumbs__item--link= item.text
            else
              .bread-crumbs__item= item.text
