@import "src/scss/sizes.scss";

:root {
  --page-content-padding: 32px;
  --header-height: 166px;

  @include for-mx-down {
    --header-height: 110px;
  }

  @include for-fl-down {
    --header-height: 94px;
  }

  @include for-bg-down {
    --header-height: 74px;
  }

  @include for-md-down {
    --page-content-padding: 24px;
  }

  /* colors */
  --purple-color: #962FED;
  --white-color: #FFFFFF;
  --black-color: #000;
  --gray-text-color: rgba(255, 255, 255, 0.2);
  --gray-middle-color: #75758A;
  --gray-light-color: #C9C9C9;
  --blue-color: #2074D6;
  --layout-color: #080A2C;
  --header-color: #160B3C;
  --header-border-color: #311059;

  /* transitions */
  --transition-duration-short: 200ms;
  --transition-duration-fast: 350ms;

  /* border-radius */
  --border-radius-small: 6px;
  --border-radius-middle: 12px;
  --border-radius-big: 32px;

  /* z-index */
  --z-index-header: 2;
  --z-index-side-bar: 3;
  --z-index-modal: 4;

  /* основной шрифт проета */
  --font-family-main: 'GothamPro', sans-serif;
}

