@import "src/scss/sizes.scss";

:root {
  --page-content-padding: 32px;
  --header-height: 166px;

  @include for-mx-down {
    --header-height: 110px;
  }

  @include for-fl-down {
    --header-height: 94px;
  }

  @include for-bg-down {
    --header-height: 74px;
  }

  @include for-md-down {
    --page-content-padding: 24px;
  }

  /* colors */
  --purple-color: #962FED;
  --white-color: #FFFFFF;
  --black-color: #000;
  --gray-color-opasity: rgba(255, 255, 255, 0.2);
  --gray-middle-color: #75758A;
  --gray-light-color: #C9C9C9;
  --blue-color: #2074D6;
  --blue-dark-color: #361D8F;
  --blue-middle-color: #4426AF;
  --layout-color: #080A2C;
  --header-color: #160B3C;
  --purple-background: #1F0D5D;
  --purple-dark-background: #22125B;
  --header-border-color: #311059;
  --purple-block-color: rgba(31, 13, 94, 0.8);
  --green-dark-opasity-color: rgba(96, 255, 40, 0.1);
  --green-color: #60FF28;
  --red-color: #CF1313;
  --green-dark-color: #3FA51B;

  /* transitions */
  --transition-duration-short: 200ms;
  --transition-duration-fast: 350ms;

  /* border-radius */
  --border-radius-tiny: 2px;
  --border-radius-small: 6px;
  --border-radius-middle: 8px;
  --border-radius-big: 10px;
  --border-radius-huge: 16px;

  /* z-index */
  --z-index-header: 2;
  --z-index-side-bar: 3;
  --z-index-modal: 4;

  /* основной шрифт проета */
  --font-family-main: 'GothamPro', sans-serif;
}

