@import "src/scss/sizes.scss";
@import "src/scss/extends";

.gl-layout-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.gl-layout-content {
  @extend %set-max-height;
  width: 100%;
  height: 100%;
  background-color: var(--layout-color);

  @include for-md-down {
    overflow-x: hidden;
  }
}

.gl-page-content {
  padding-left: var(--page-content-padding);
  padding-right: var(--page-content-padding);
  width: 100%;
  max-width: calc(1440px + var(--page-content-padding) * 2);
  margin-left: auto;
  margin-right: auto;
}

.gl-modal {
  @extend %modal;
  z-index: var(--z-index-modal);
  background-color: rgba(42, 46, 52, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    max-height: 100vh;
    width: 344px;
    overflow: auto;
    background-color: #fff;
    border-radius: var(--border-radius-huge);
    margin: 30px 10px;

    @include for-md-down {
      margin: 0;
    }
  }
}

.gl-grid-container-24 {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(24, 1fr);

  @include for-fl-down {
    grid-gap: 20px;
  }

  @include for-hg-down {
    grid-gap: 16px;
  }

  @include for-md-down {
    grid-template-columns: 1fr;
  }
}

.gl-block-gradient {
  background: radial-gradient(90.2% 118.9% at 146.3% 0,#ca2dff 0,rgba(3,57,89,0) 100%),#140359;
  border-radius: var(--border-radius-huge);
  padding: 30px;

  @include for-hg-down {
    padding: 26px 16px;
  }
}
