@import "src/scss/sizes";

.side-bar {
  position: fixed;
  top: var(--header-height);
  right: 0;
  width: 100%;
  height: calc(100% - var(--header-height));
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5);
  z-index: var(--z-index-side-bar);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-duration-short);
  display: flex;
  justify-content: flex-end;

  @include for-bg-up {
    display: none;
  }

  &.mod-show {
    opacity: 1;
    pointer-events: initial;

    .side-bar__container {
      transform: translateX(0);
    }
  }

  &__container {
    width: 340px;
    min-height: 100%;
    overflow: auto;
    background-color: #160b3c;
    transform: translateX(100%);
    transition: transform var(--transition-duration-short);
    margin-top: -1px;

    @include for-sm-down {
      width: 100%;
    }
  }

  &__content {
    margin: 34px 0;
    width: 100%;
    height: 100%;
  }

  &__select-container {
    width: min-content;
    margin-bottom: 24px;
  }

  &__links-wrapper {
    margin: -10px;
  }

  &__link {
    display: block;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: var(--transition-duration-short);

    &--active, &:hover {
      color: var(--purple-color);
    }

    &--active {
      pointer-events: none;
    }
  }

  &__btns-container {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid var(--gray-middle-color);
  }

  &__btns-wrapper {
    margin: -10px;

    & + & {
      margin-top: 20px;
    }
  }

  &__btn {
    display: block;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: var(--transition-duration-short);

    & + & {
      margin-top: 10px;
    }

    &:hover {
      color: var(--purple-color);
    }

    &--blue {
      color: var(--blue-color);

      &:hover {
        color: var(--blue-color);
        text-decoration: underline;
      }
    }
  }
}
