//- Все примеси в этом файле должны начинаться c имени блока (header)

mixin header()
  - const navLinkList = [{text: "guild", link: "#"}, {text: "games", link: "#", isActive: true}, {text: "nft", link: "#"}, {text: "airdrop", link: "#"}];

  header.header#header-host
    .gl-page-content
      .header__content-wrapper
        .header__left-block
          a(href="/").header__logo-link
            img(src="img/logo-header.png", alt="logo-header").header__logo

          .header__nav-links-wrapper.gl-bg-hide
            each navLink in navLinkList
              a(href=navLink.link, class= navLink.isActive && "header__nav-link--active").header__nav-link= navLink.text

        .header__right-block
          div.header__btns-container
            .header__btns-wrapper.gl-bg-hide
              +lang-select()

              button(type="button").header__btn Log in
              button(type="button").header__btn Sign up

            .header__btns-wrapper.gl-bg-hide
              button(type="button").header__btn.header__btn--blue connect wallet

          // mod-close - превратится в крестик
          button(type="button")#btn-burger.header__burger-btn.gl-bg-show
