@import "src/scss/sizes";

.header {
  background-color: var(--header-color);
  border-bottom: 1px solid var(--header-border-color);
  height: var(--header-height);
  display: flex;
  align-items: center;

  &__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left-block {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__logo {
    height: 110px;

    @include for-mx-down {
      height: 90px;
    }

    @include for-fl-down {
      height: 70px;
    }

    @include for-hg-down {
      height: 50px;
    }
  }

  &__nav-links-wrapper {
    display: flex;
    align-items: center;
    margin: -14px -14px -14px 72px;

    @include for-mx-down {
      margin-left: 20px;
    }

    @include for-fl-down {
      margin: -10px -10px -10px 20px;
    }

    @include for-hg-down {
      margin-left: 0;
    }
  }

  &__nav-link {
    padding: 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--gray-color-opasity);
    transition: var(--transition-duration-short);

    @include for-fl-down {
      font-size: 14px;
      padding: 10px;
    }

    &:hover {
      color: var(--white-color);
    }

    &--active {
      color: var(--purple-color);
      pointer-events: none;
    }
  }

  &__btns-container {
    display: flex;
    align-items: center;
  }

  &__btns-wrapper {
    display: flex;
    align-items: center;
    padding-right: 14px;
    border-right: 1px solid var(--gray-middle-color);
    margin: -16px;
    margin-left: 14px;

    @include for-fl-down {
      padding-right: 10px;
      margin: -10px;
      margin-left: 20px;
    }

    &:first-child {
      margin-left: -16px;

      @include for-fl-down {
        margin-left: -10px;
      }
    }

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }

  &__btn {
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--white-color);
    transition: var(--transition-duration-short);

    @include for-fl-down {
      font-size: 14px;
      padding: 10px;
    }

    &:hover {
      color: var(--purple-color);
    }

    &--blue {
      color: var(--blue-color);

      &:hover {
        color: var(--blue-color);
        text-decoration: underline;
      }
    }
  }

  $burger-size: 28px; // размеры кнопки
  $burger-line-width: 16px; // ширина линии
  $burger-line-height: 2px; // высота линии
  $burger-line-margin: 4px; // отступ между линиями

  &__burger-btn {
    position: relative;
    display: block;
    width: $burger-size;
    height: $burger-size;

    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: $burger-line-width;
      transition: all var(--transition-duration-short) ease;
      margin-left: calc((#{$burger-size} - #{$burger-line-width}) / 2);
    }

    /* верхняя и нижняя линии бургера */
    &:before {
      top: calc(
        #{$burger-size} / 2 -
        #{$burger-line-height} / 2 -
        #{$burger-line-margin} -
        #{$burger-line-height}
      );
      height: calc(
        #{$burger-line-height} * 3 +
        #{$burger-line-margin} * 2
      );
      border-top: $burger-line-height solid var(--white-color);
      border-bottom: $burger-line-height solid var(--white-color);
    }

    /* средняя линия бургера */
    &:after {
      top: calc(
        #{$burger-size} / 2 -
        #{$burger-line-height} / 2
      );
      height: $burger-line-height;
      background-color: var(--white-color);
    }

    &.mod-close {
      &:before, &:after {
        top: 50%;
        width: 20px;
      }

      &:before {
        border: none;
        height: $burger-line-height;
        background: var(--white-color);
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
